<div id="homepageJY" >
	<div id="controlJY">
		<h1>功能控制区</h1>
	</div>

	<div id="rightJY">
		<div id="mapJY">
			<h1>地图展示区</h1>
			<h1>地图展示区</h1>
			<h1>地图展示区</h1>
			<h1>地图展示区</h1>
			<h1>地图展示区</h1>
		
			<h1>地图展示区</h1>
			<h1>地图展示区</h1>
			<h1>地图展示区</h1>
			<h1>地图展示区</h1>
			<h1>地图展示区</h1>
			<h1>地图展示区</h1>
			<h1>地图展示区</h1>
			<h1>地图展示区</h1>
		</div>

		<div id="chartJY">
			<h1>图表区</h1>
			<h1>图表区</h1>
			<h1>图表区</h1>
			<h1>图表区</h1>
			<h1>图表区</h1>
			<h1>图表区</h1>
			<h1>图表区</h1>
			<h1>图表区</h1>
			<h1>图表区</h1>
			<h1>图表区</h1>
		</div>
	</div>
</div>