#homepageJY{width:100%;background-color:#2d3d5a;margin:10px 0px;overflow:hidden;}

#controlJY{width:30%;height:500px;float:left;background-color:red;}
#rightJY{width:70%;height:100%;float:right;background-color:yellow;}
#mapJY{height:70%;background-color:green;}
#chartJY{height:30%;background-color:blue}